# Tables

 - Using `lists` we can create tables
 - A table, also known as **matrix** holds information in 2 dimensions
 - Think of a table as a **list of lists**
   - Each row of the table is a list
   - The table is a list of rows

## Creating tables
 - We can create a table by creating a list of lists
 - We can create tables with a foor loop by adding lists to a list
   - When we use loops
     - **i** is used for the outer loop (rows)
     - **j** is used for the inner loop (columns)

In [15]:
# Creating a table
row1 = [1, 2, 3]
row2 = [4, 5, 6]
row3 = [7, 8, 9]

table = [row1,
         row2,
         row3]

print(table)

# You can also do it in a single line:
table2 = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
print(table2)


# With a loop and append
table3 = []  # start with an empty table
for i in range(3):
    # in each iteration, add a new row
    row = []

    for j in range(3):
        # in this inner loop we add each column
        row.append(f'{i}-{j}')
    table3.append(row)

print(table3)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
[['0-0', '0-1', '0-2'], ['1-0', '1-1', '1-2'], ['2-0', '2-1', '2-2']]

## Iterating over tables

 - We can iterate over tables using nested loops
 - We can use the `len()` function to get the number of rows and columns
   - `len(table)` returns the number of rows
   - `len(table[0])` returns the number of columns
 - Or we can use the `in` operator

In [18]:
# NOTE: We will use the same 3 tables that we created in the first cell

def print_table(input_table):
    for row in input_table:
        for element in row:
            print(element, end='  ')
        print()
    print()

print_table(table)
print_table(table2)
print_table(table3)

1  2  3
4  5  6
7  8  9

a  b  c
d  e  f
g  h  i

0-0  0-1  0-2
1-0  1-1  1-2
2-0  2-1  2-2

## Accessing tables

 - We can access an element of a table using the `[]` operator, as we do with lists
 - One single `[]` returns a row
 - Two `[][]` returns an element
 - `[i]` returns the i-th row
 - `[i][j]` returns the j-th element of the i-th row

In [22]:
# NOTE: We will use the same 3 tables that we created in the first cell

print(table[1])  # prints the second row
print(table[1][2])  # prints the third element of the second row

print(table2[0][1])  # prints the second element of the first row

print(table3[2][0])  # prints the first element of the third row

[4, 5, 6]
6
b
2-0